$max-width: 1400px; // total width 1400px or 87.500em.
$column-width: 68.75px; //4.297em or 68.75px @ 16 columns = 1100px 
$gutter: 20px; //1.250em or 20px for 15 gutters =  300px

//Breakpoints:

$mobile: 40.063em; // 641px
$desktop: 64.063em; // 1024px
$lrgdesktop: 87.500em; // 1400px
